<h1>Editar mensaje</h1>

<%= form_with(model: @message, method: :patch, url: messages_update_path) do |form| %>
    <div class="field">
        <%= form.label :ID_FROM %>
        <%= form.text_field :from_id %>
    </div>

    <div class="field">
        <%= form.label :ID_TO %>
        <%= form.text_field :to_id %>
    </div>

    <div class="field">
        <%= form.label :MENSAJE %>
        <%= form.text_field :contenido %>
    </div>

    <div class="action">
        <%= form.submit "Editar Mensaje"%>
    </div>
<% end %>

<%= link_to 'Volver', messages_show_path(@message.id) %>
<%= link_to 'Listado de mensaje', messages_index_path %>


