<!DOCTYPE html>
<html>
<body>

<h2>SIEEMPRE ES VIERNES</h2>

<p>EN MIII CORAZÓN</p>
<p>Link to CRUDS:</p>

<div>
<%= link_to 'Ver CRUD publicaciones', publications_index_path %>
</div>
<div>
<%= link_to 'Ver CRUD comentarios', comments_index_path %>
</div>
<div>
<%= link_to 'Ver CRUD mensajes', messages_index_path %>
</div>
<div>
<%= link_to 'Ver CRUD requests', requests_index_path %>
</div>
<div>
<%= link_to 'Ver CRUD reviews', reviews_index_path %>
</div>

</body>
</html>

